{
    "plugins": ["@typescript-eslint"],
    "extends": ["airbnb-typescript"],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
      // 0=ff, 1=warn, 2
      "react/prefer-stateless-function": [1,]
    }
  }